<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{msg}}</p>
        <input v-model="msg"></input>
        <ul>
            <li v-for="todo in todos">{{todo.text}}</li>
        </ul>
        <p><button v-on:click="reverseMsg">Reverse</button></p>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el:'#app',
            data:{
                msg:'hello vue.js!',
                todos:[
                    {text:'learn js'},
                    {text:'learn vue'},
                    {text:'learn other'}
                ]
            },
            methods:{
                reverseMsg:function(){
                    this.msg = this.msg.split('').reverse().join('');
                }
            }
        })
    </script>
</body>
</html>