<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="watch">
        firstName:<input type="text" name="li"  v-model="firstName">
        <br>
        lastName:<input type="text" name="fei"  v-model="lastName">
        <p>fullName: {{fullName}}</p>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
                    el: '#watch',
                    data: {
                        firstName: 'a',
                        lastName: 'fei',
                        fullName: 'a fei'
                    },
                    watch: {
                        firstName: function (val) {
                            this.fullName = val + ' ' + this.lastName
                        },
                        lastName: function (val) {
                            this.fullName = this.firstName + ' ' + val
                        }
                    }
            })
    </script>
</body>
</html>